@value makerGreen, makerWhite, makerBlack from "../../common/colors.css";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: makerGreen;
  width: 100%;
  height: 13%;
  padding: 0.5em;
  overflow: hidden;
  position: relative;
}

.logo {
  width: 3em;
}

.title {
  margin: 0;
  color: makerWhite;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1em;
  padding: 0.5em;
  border-radius: 20%;
  background-color: makerBlack;
  color: makerWhite;
  outline: 0;
  border: 0;
  cursor: pointer;
}
