@value makerGreen, makerLightPink from '../../common/colors.css';
.login {
  border: 0.2rem solid makerGreen;
  outline: 0;
  background-color: transparent;
  width: 95%;
  border-radius: 15px;
  margin: 0.3em;
  padding: 0.6em;
  cursor: pointer;
  font-weight: 600;
}

.login:hover {
  background-color: makerLightPink;
}
